@use "./util/colors" as color;

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: color.$veryDarkBlue;
    font-size: 18px;
}

body {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        display: block;
    }
    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: #999999;
    }
    &::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
        background: #d4d4d4;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .content {
        width: 90%;
        max-width: 500px;
        margin-top: 7vw;
        z-index: 3;
    }
    img {
        position: absolute;
        top: 0;
        width: 100%;
    }
}